<!-- References: https://developer.apple.com/library/archive/qa/qa1937/_index.html -->
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>CFBundleURLTypes</key>
        <array>
            <dict>
                <key>CFBundleURLName</key>
                <!-- Obviously needs to be replaced with your app's bundle identifier -->
                <string>com.ripandis.tauri-tray-app</string>
                <key>CFBundleURLSchemes</key>
                <array>
                    <!-- register the myapp:// and myscheme:// schemes -->
                    <string>myapp</string>
                    <string>myscheme</string>
                </array>
            </dict>
        </array>
        <key>NSCameraUsageDescription</key>
        <string>Requires camera access in order to capture and transmit video</string>
        <key>NSMicrophoneUsageDescription</key>
        <string>Requires microphone access in order to capture and transmit audio</string>
    </dict>
</plist>
