/* Copyright 2023-2024 Aris Ripandi <aris@duck.com> */
/* SPDX-License-Identifier: Apache-2.0 or MIT */

@import "tailwindcss";

@theme {
  /* @ref: https://modernfontstacks.com */
  --font-family-sans: ui-rounded, 'Hiragino Maru Gothic ProN', Quicksand, Comfortaa, Manjari, 'Arial Rounded MT', 'Arial Rounded MT Bold', Calibri, source-sans-pro, sans-serif;
  --font-family-mono: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;

  /* Define font size */
  --font-size-*: initial;
  --font-size-xs: 0.625rem; /* 10px */
  --font-size-sm: 0.75rem; /* 12px */
  --font-size-base: 0.875rem; /* 14px */
  --font-size-lg: 1rem; /* 16px */
  --font-size-xl: 1.125rem; /* 18px */
  --font-size-2xl: 1.25rem; /* 20px */
  --font-size-3xl: 1.5rem; /* 24px */
  --font-size-4xl: 1.875rem; /* 30px */
  --font-size-5xl: 2.25rem; /* 36px */
  --font-size-6xl: 3rem; /* 48px */
  --font-size-7xl: 3.75rem; /* 60px */
  --font-size-8xl: 4.5rem; /* 72px */
  --font-size-9xl: 6rem; /* 96px */

  /* Custom colors */
  --color-black: rgb(14,17,17);
  --color-red-light: rgb(255,49,38);
  --color-red-dark: rgb(255,79,68);
  --color-orange-light: rgb(255,139,0);
  --color-orange-dark: rgb(255,169,20);
  --color-yellow-light: rgb(255,194,0);
  --color-yellow-dark: rgb(255,224,20);
  --color-green-light: rgb(30,195,55);
  --color-green-dark: rgb(60,225,85);
  --color-mint-light: rgb(0,189,180);
  --color-mint-dark: rgb(108,224,219);
  --color-teal-light: rgb(46,167,189);
  --color-teal-dark: rgb(68,212,237);
  --color-cyan-light: rgb(65,175,220);
  --color-cyan-dark: rgb(90,205,250);
  --color-blue-light: rgb(0,112,245);
  --color-blue-dark: rgb(20,142,255);
  --color-indigo-light: rgb(84,82,204);
  --color-indigo-dark: rgb(99,97,242);
  --color-purple-light: rgb(159,75,201);
  --color-purple-dark: rgb(204,101,255);
  --color-pink-light: rgb(255,35,75);
  --color-pink-dark: rgb(255,65,105);
  --color-brown-light: rgb(152,122,84);
  --color-brown-dark: rgb(182,152,114);
  --color-gray-light: rgb(132,132,137);
  --color-gray-dark: rgb(162,162,167);
}

:root {
  /* Define variables */
  --ui-titlebar-height: 0px;
  --ui-window-border-radius: 10px;
}

html {
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
}

body {
  overflow: hidden;
}

html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background-color: transparent;
  border-radius: var(--ui-window-border-radius);
}

/* Scrollable app container */
.root-container {
  width: 100%;
  height: calc(100vh - var(--ui-titlebar-height));
  top: var(--ui-titlebar-height);
  background-color: transparent;
  position: fixed;
  overflow: hidden;
  border-bottom-left-radius: var(--ui-window-border-radius);
  border-bottom-right-radius: var(--ui-window-border-radius);
}

/* Main container for the app */
.main-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  overflow: auto;
  scroll-behavior: smooth;
  border-bottom-left-radius: var(--ui-window-border-radius);
  border-bottom-right-radius: var(--ui-window-border-radius);
}

/* Customize the scrollbar for the main-container */
.main-container::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
.main-container::-webkit-scrollbar-track {
  background-color: rgba(255,255,255,0.1);
}
.main-container::-webkit-scrollbar-thumb {
  border-radius: 1px;
  background: rgba(255,255,255,0.2);
}
.main-container::-webkit-scrollbar-thumb:hover {
  background: rgba(255,255,255,0.15);
}
.main-container::-webkit-scrollbar-thumb:active {
  background: rgba(255,255,255,0.1);
}

/* Disable text selection */
.disable-select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
  cursor: default;
}

/* Disable text selection */
.enable-select {
  -webkit-touch-callout: initial; /* iOS Safari */
  -webkit-user-select: text; /* Safari */
  -khtml-user-select: text; /* Konqueror HTML */
  -moz-user-select: text; /* Old versions of Firefox */
  -ms-user-select: text; /* Internet Explorer/Edge */
  user-select: text; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
  cursor: auto;
}
